
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    background-color: black;
    -webkit-filter: invert(100%);
    filter: invert(100%);

    font-family: 'Roboto', sans-serif !important;
}

h1, h2 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

.ui.raised.segments, .ui.segment {
    border: 0px !important;
    box-shadow: none !important;
}



#clockhead{
    text-align: center;
}

#clockwrap {
    display: inline-block;
    width: 100%;
}

#date {
    float: left;
    font-size: 2em;
    line-height: 2.6;
}

#clock {
    float: right;
    margin: 0;
    font-size: 4em;
}

#wrap {
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

#kvb{
    margin-left: 55%;
}

#notif{
    float: right;
}

thead th {
    background: #ccc !important;
}

.highlight {
    background-color: #ddd !important;
}

.table {
    border: 0px !important;
}


.ui.segment {
    padding: 0;
}


/* Weather */

#weather {
    width: 45%;
    float: left;
    text-align: left;
}

div.weather.widget {
    width: 100%;
    padding: 0px;
    color: rgba(0,0,0,.87);
}
div.weather.widget .expand-wrapper.hide {
    display: block;
}

a.expand.more {
    display: none;
}

div.weather.widget section.forecasts div.forecast {
    font-size: 18px;
    color: rgba(0,0,0,.87);
}

div.weather.widget section.current span.temperature {
    color: rgba(0,0,0,.87);
}


/* Calendar */

#calendarwrap {
    text-align: center;
}

#calendar {
    margin-top: 140px;
    width: 100%;
    display: inline-block;
}

.fc-day-grid-event .fc-content {
    white-space: normal;
    overflow: hidden;
}

.fc-content{
    background-color: dimgray;
    border-color: dimgray;
}

.fc-event {
    background-color: dimgray;
    border-color: dimgray;
}

.fc-right {
    display:none;
}

.fc-state-highlight {
    background: #ddd !important;
}

.fc-unthemed thead {
    border-color: rgba(0,0,0,0.1);
}

.today {
    font-size: 1.7em;
}

